

/*Navbar*/
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Asegura que la barra de navegación esté encima de otros elementos */
    background-color: rgba(168, 167, 167, 0); /* Fondo transparente */
    transition: background-color 0.3s ease; /* Agrega transición para el cambio de color de fondo */
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-wrapper img {
    width: 150px;
    height: auto;
    alt: "loading";
}

.navbar .navbar-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar .navbar-links a {
    font-size: 26px;
    font-weight: 400;
    line-height: 28px;
    color:  var(--light-color);
    text-decoration: none;
}

.navbar .navbar-links a:hover {
    color: rgb(151, 151, 151);
}
.navbar-toggler {
    background: none;
    border: none;
    font-size: 24px;
    color: var(--light-color);
    cursor: pointer;
    display: none; /* Inicialmente oculto en pantallas grandes */
    position: relative;
    z-index: 1001; /* Asegura que el botón esté por encima de otros elementos */
}

.navbar-toggler i {
    pointer-events: none; /* Evita que el ícono del botón interfiera con los clics */
}

/* Media Query para tabletas y dispositivos más pequeños */
@media (max-width: 992px) {
    .navbar {
        background-color: rgba(168, 167, 167, 0.9); /* Cambia el fondo para mayor visibilidad */
    }

    .navbar .navbar-links {
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 60px; /* Ajusta según la altura de la barra de navegación */
        left: 0;
        right: 0;
        background-color: rgb(151, 151, 151, 0.5);
        display: none;
        z-index: 1000;
    }

    .navbar .navbar-links.show {
        display: flex;
    }

    .navbar .navbar-links a {
        font-size: 18px;
        line-height: 20px;
        color: rgb(255, 255, 255);
        padding: 10px;
    }

    .navbar .navbar-links.active a {
        color: rgb(151, 151, 151);
    }
    .navbar-toggler {
        display: block; /* Muestra el botón de hamburguesa en pantallas pequeñas */
    }
}

/* header */
#header{
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.header-content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 4rem;
}
.social-links {
    display: flex;
    justify-content: center;
    margin-top: 2rem; /* Reducir el espacio superior en dispositivos más pequeños */

}

.social-links li {
    margin-right: 1rem;
}

.social-links li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Ancho del círculo */
    height: 40px; /* Altura del círculo */
    background-color: var(--light-color);
    margin-right: 1rem;
    border-radius: 50%; /* Hacer un círculo */
    transition: var(--transition);
}

.social-links li a i {
    font-size: 30px; /* Tamaño del icono */
    color: var(--dark-color); /* Color del icono */
}

.social-links li a:hover {
    opacity: 0.9;
}


/* portfolio */
.portfolio-content {
    text-align: center; /* Alinea el contenido al centro */
}

.title {
    margin-bottom: 20px; /* Espacio inferior para separar el título del siguiente elemento */
}

.title h2 {
    margin-bottom: 10px; /* Espacio inferior para separar el título del botón */
}

.btn-down {
    display: inline-block; /* Asegura que el botón esté en línea con el título */
}

.grid-gallery {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    grid-gap: 20px;
  }
  
  
/* Estilos generales para todas las .grid-item */
.grid-item {
    grid-row: unset;
    grid-column: unset;
}

/* Estilos específicos para ciertas .grid-item */
.grid-item:nth-child(2),
.grid-item:nth-child(12n+2) {
    grid-column: span 2;
}
.grid-item:nth-child(3),
.grid-item:nth-child(12n+3),
.grid-item:nth-child(12n+4) {
    grid-row: span 2;
}
.grid-item:nth-child(6),
.grid-item:nth-child(12n+6) {
    grid-row: span 3;
    grid-column: span 2;
}
.grid-item:nth-child(7),
.grid-item:nth-child(12n+7) {
    grid-row: span 2;
    grid-column: span 1;
}

  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Write the media query */
  @media (max-width: 996px) {
    .grid-gallery {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      grid-auto-rows: 280px;
    }
  }
  
  @media (max-width: 640px) {
    .grid-item:nth-child(1n) {
      grid-row: unset;
      grid-column: unset;
    }
  }
/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: auto;
    max-width: 90%;
    max-height: 90%;
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Estilos para los botones de navegación */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
