@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&display=swap');

:root{
    --transition: all 300ms ease-in-out;
    --dark-color: #3f372f;
    --light-color: #fff;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}
html{
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    font-family: 'Imbue', sans-serif;
    line-height: 1.6;
}

button, .btn{
    cursor: pointer;
    border: none;
    background: transparent;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--dark-color);
}
img{
    width: 300px;
    padding: 0 30px 30px 15px;
    position: relative;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}
.vh-100{
    min-height: 100vh;
}
h1, h2, h3{
    margin-top: 0;
    line-height: 1.3;
    margin-bottom: 2rem;
    color: var(--dark-color);
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.py-7{
    padding: 7rem 0;
}
.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}
.lead{
    opacity: 0.8;
    padding: 1rem 0;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.8;
}

/*-----------------------------------*\
  #PRELOAD
\*-----------------------------------*/
:root{
    --gold-crayola: rgba(110, 9, 9, 0.5);
    --transition-2: 500ms ease;
    --transition-1: 250ms ease;
    --smoky-black-3: hsla(0, 3%, 7%, 1);
    --radius-circle: 50%;
    --white: hsla(0, 0%, 100%, 1);
    --eerie-black-3: hsla(180, 2%, 8%, 1);
    --weight-bold: 700;
    --loading-text-gradient: linear-gradient(90deg, transparent 0% 16.66%, var(--smoky-black-3) 33.33% 50%,  transparent 66.66% 75%);
}
.preload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gold-crayola);
    z-index: 10;
    display: grid;
    place-content: center;
    justify-items: center;
    transition: var(--transition-2);
  }
  
  .preload > * { transition: var(--transition-1); }
  
  .preload.loaded > * { opacity: 0; }
  
  .preload.loaded {
    transition-delay: 250ms;
    transform: translateY(100%);
  }
  
  .circle {
    width: 112px;
    height: 112px;
    border-radius: var(--radius-circle);
    border: 3px solid var(--white);
    border-block-start-color: var(--smoky-black-3);
    margin-block-end: 45px;
    animation: rotate360 1s linear infinite;
  }
  
  @keyframes rotate360 {
    0% { transform: rotate(0); }
    100% { transform: rotate(1turn); }
  }
  
  .preload .text {
    background-image: var(--loading-text-gradient);
    background-size: 500%;
    font-size: calc(2rem + 3vw);
    font-weight: var(--weight-bold);
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 16px;
    padding-inline-start: 16px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.5px var(--eerie-black-3);
    animation: loadingText linear 2s infinite;
  }
  
  @keyframes loadingText {
    0% { background-position: 100%; }
    100% { background-position: 0%; }
  }
  
  
  
  

/*Navbar*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Asegura que la barra de navegación esté encima de otros elementos */
    background-color: rgba(168, 167, 167, 0); /* Fondo transparente */
    transition: background-color 0.3s ease; /* Agrega transición para el cambio de color de fondo */
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-wrapper img {
    width: 150px;
    height: auto;
    alt: "loading";
}

.navbar .navbar-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar .navbar-links a {
    font-size: 26px;
    font-weight: 400;
    line-height: 28px;
    color:  var(--light-color);
    text-decoration: none;
}

.navbar .navbar-links a:hover {
    color: rgb(151, 151, 151);
}
.navbar-toggler {
    background: none;
    border: none;
    font-size: 24px;
    color: var(--light-color);
    cursor: pointer;
    display: none; /* Inicialmente oculto en pantallas grandes */
    position: relative;
    z-index: 1001; /* Asegura que el botón esté por encima de otros elementos */
}

.navbar-toggler i {
    pointer-events: none; /* Evita que el ícono del botón interfiera con los clics */
}

/* Media Query para tabletas y dispositivos más pequeños */
@media (max-width: 992px) {
    .navbar {
        background-color: rgba(168, 167, 167, 0.9); /* Cambia el fondo para mayor visibilidad */
    }

    .navbar .navbar-links {
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 60px; /* Ajusta según la altura de la barra de navegación */
        left: 0;
        right: 0;
        background-color: rgb(151, 151, 151, 0.5);
        display: none;
        z-index: 1000;
    }

    .navbar .navbar-links.show {
        display: flex;
    }

    .navbar .navbar-links a {
        font-size: 18px;
        line-height: 20px;
        color: rgb(255, 255, 255);
        padding: 10px;
    }

    .navbar .navbar-links.active a {
        color: rgb(151, 151, 151);
    }
    .navbar-toggler {
        display: block; /* Muestra el botón de hamburguesa en pantallas pequeñas */
    }
}

/* header */
#header{
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.header-content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 4rem;
}
.social-links {
    display: flex;
    justify-content: center;
    margin-top: 2rem; /* Reducir el espacio superior en dispositivos más pequeños */

}

.social-links li {
    margin-right: 1rem;
}

.social-links li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Ancho del círculo */
    height: 40px; /* Altura del círculo */
    background-color: var(--light-color);
    margin-right: 1rem;
    border-radius: 50%; /* Hacer un círculo */
    transition: var(--transition);
}

.social-links li a i {
    font-size: 30px; /* Tamaño del icono */
    color: var(--dark-color); /* Color del icono */
}

.social-links li a:hover {
    opacity: 0.9;
}

/* about */
.about-left{
    margin-bottom: 4rem;
    overflow: hidden;
}
/* button down and title -reusable */
.btn-down{
    font-size: 3rem;
    display: inline-block;
    margin-top: 1rem;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.btn-down:hover{
    opacity: 0.8;
    transform: translateY(5px);
}
.title{
    margin-bottom: 5rem;
}
.title h2{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    position: relative;
}
.title h2::after{
    position: absolute;
    content: "";
    top: 120%;
    left: 0;
    background-color: var(--dark-color);
}
.lead {
    font-family: 'Poppins';
}
/* work */
#work{
    background: linear-gradient(rgba(110, 9, 9, 0.5), rgba(110, 9, 9, 0.3)), url('./assets/MDG_8708.jpg') center/cover no-repeat fixed;
    background-position: center;
    color: var(--light-color);   
}
#work .title h2, #work h3{
    color: var(--light-color);
}
#work .title h2::after{
    background: var(--light-color);
}
.ab-n {
    color: var(--light-color);
}

/* portfolio */

.grid-gallery {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    grid-gap: 20px;
  }
  
  
  .grid-item:nth-child(2) {
    grid-column: span 2;
  }
  .grid-item:nth-child(3),
  .grid-item:nth-child(4) {
    grid-row: span 2;
  }
  .grid-item:nth-child(6) {
    grid-row: span 3;
    grid-column: span 2;
  }
  .grid-item:nth-child(7) {
    grid-row: span 2;
    grid-column: span 1;
  }
  
  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Write the media query */
  @media (max-width: 996px) {
    .grid-gallery {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      grid-auto-rows: 280px;
    }
  }
  
  @media (max-width: 640px) {
    .grid-item:nth-child(1n) {
      grid-row: unset;
      grid-column: unset;
    }
  }

/* contact */
#contact{
    background-color: rgb(248, 248, 248);
}
.contact-content{
    flex-direction: column;
    align-items: stretch;
}
.contact-left{
    margin-bottom: 5rem;
}
.contact-left .lead{
    padding: 0.5rem;
}
.contact-left form{
    margin-top: 3rem;
}
.contact-left form .form-control{
    display: block;
    margin: 1.6rem 0;
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 1rem;
    width: 100%;
}
.contact-left form .form-control::placeholder{
    font-size: 15px;
    font-family: 'Poppins';
}
.contact-left .btn-submit{
    padding: 1.4rem 3rem;
    font-family: 'Poppins';
    background-color: var(--dark-color);
    color: var(--light-color);
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.6rem;
    transition: var(--transition);
}
.contact-left .btn-submit:hover{
    background-color: #000;
}


/* footer */
#footer {
    background: linear-gradient(rgba(110, 9, 9, 0.5), rgba(110, 9, 9, 0.3)), url('./assets/MDG_8708.jpg') center/cover no-repeat fixed;
    background-position: center;
    min-height: 65vh;
    color: white;
    padding: 20px 0;
    text-align: center;
}

#footer .container {
    display: flex;
    flex-direction: column;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.social-links li {
    margin-right: 10px;
}

.social-links a {
    text-decoration: none;
    color: white;
}

.footer-divider {
    width: 100%;
    border-top: 1px solid white;
    margin: 20px 0;
}

/* Seis fotos más altas que anchas en el footer */
.footer-gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-gallery div {
    flex-basis: calc(16.66% - 10px); /* Cambiado para ocupar menos espacio */
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}

.footer-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Agrega estilos adicionales según sea necesario */


/* Media Queries */


@media(min-width: 450px){
    .work-bottom{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        row-gap: 0;
    }
}
@media(min-width: 576px){
    .title h2{
        font-size: 4rem;
    }
    .work-bottom{
        grid-template-columns: repeat(4, 1fr);
    }
    .portfolio-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .portfolio-grid > div{
        height: 300px;
        overflow: hidden;
    }
    .portfolio-grid > div img{
        height: 100%;
        object-fit: cover;
    }
    .contact-left form .form-control{
        max-width: 500px;
    }
    .footer-content ul{
        flex-direction: row;
    }

}

@media(min-width: 768px){
    .header-content h1{
        font-size: 7rem;
    }
    .about-content, .work-top{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6rem;
        row-gap: 0;
    }
    .about-left{
        margin-bottom: 0;
    }
    .contact-content{
        flex-direction: row;
    }
    .contact-right{
        padding-left: 3rem;
        width: 50%;
    }
    .contact-left{
        width: 50%;
    }
    .insta-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 992px){
    .insta-grid{
        grid-template-columns: repeat(4, 1fr);
    }
    .insta-grid > div{
        height: 250px;
    }
}

@media(min-width: 1200px){
    .portfolio-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .portfolio-grid > div:nth-child(2){
        grid-column: 2 / 4;
    }
    .portfolio-grid > div:nth-child(6){
        grid-column: 1 / 3;
    }
}